{{- if .personal -}}
{{- if not .BW_SESSION -}}
{{- fail "BW_SESSION environment variable is not set" -}}
{{- end -}}

{{- $privateKey := (exec "bw" "get" "item" "domainlogin" "--raw" "--session" .BW_SESSION | exec "jq" "-r" ".fields[] | select(.name == \"privatekey\") | .value") -}}
{{- $privateKey }}
{{- end -}}
