{{ if and (or (eq .osid "linux-pop") (eq .osid "linux-ubuntu")) (not .ephemeral) -}}

#!/bin/bash

set -eufo pipefail

# Define color codes
GREEN='\033[0;32m'
NC='\033[0m' # No Color

# Spinner function
spinner() {
    local pid=$!
    local delay=0.1
    local spinstr='|/-\'
    echo -ne "${GREEN}"
    while ps -p $pid > /dev/null; do
        local temp=${spinstr#?}
        printf " [%c]  " "$spinstr"
        local spinstr=$temp${spinstr%"$temp"}
        sleep $delay
        printf "\b\b\b\b\b\b\b"
    done
    echo -ne "${NC}"
}

# Check if the keyring file exists
if [ ! -f /etc/apt/trusted.gpg.d/githubcli-archive-keyring.gpg ]; then
  echo "Adding GitHub CLI keyring..."
  curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/etc/apt/trusted.gpg.d/githubcli-archive-keyring.gpg
else
  echo "GitHub CLI keyring already exists."
fi

# Check if the source list file exists
if [ ! -f /etc/apt/sources.list.d/github-cli.list ]; then
  echo "Adding GitHub CLI repository..."
  echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/trusted.gpg.d/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
else
  echo "GitHub CLI repository already exists."
fi

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

# Update package lists
echo -e "Updating package lists..."
{{ $sudo }}apt update > /dev/null 2>&1 & spinner

# Check if gh is already installed
if ! dpkg -s gh &> /dev/null; then
  echo "Installing GitHub CLI..."
  {{ $sudo }}apt install -y gh > /dev/null 2>&1 & spinner
  wait $!
  echo -e "${GREEN}GitHub CLI installed successfully.${NC}"
else
  echo "GitHub CLI is already installed."
fi

{{ end -}}
