{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}

{{ $packages := list
     "bat"
     "build-essential"
     "curl"
     "fd-find"
     "git"
     "git-lfs"
     "jq"
     "libfuse2"
     "luarocks"
     "npm"
     "openssh-server"
     "pip"
     "python3-venv"
     "ripgrep"
     "shellcheck"
     "units"
     "zsh" -}}
{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if eq .osid "linux-ubuntu" -}}
{{   $packages = mustAppend $packages "btop" -}}
{{ end -}}

{{ if not .headless -}}
{{   $packages = mustAppend $packages "xclip" -}}
{{   $classicSnaps = mustAppend $classicSnaps "code" -}}
{{ end -}}

{{ if .personal -}}
{{   $packages = mustAppend $packages "musl-tools" -}}
{{   $classicSnaps = concat $classicSnaps (list "goreleaser" "snapcraft") -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

# Define color codes
GREEN='\033[0;32m'
NC='\033[0m' # No Color

# Spinner function
spinner() {
    local pid=$1
    local delay=0.1
    local spinstr='|/-\'
    echo -ne "${GREEN}"
    while ps -p $pid > /dev/null; do
        local temp=${spinstr#?}
        printf " [%c]  " "$spinstr"
        local spinstr=$temp${spinstr%"$temp"}
        sleep $delay
        printf "\b\b\b\b\b\b\b"
    done
    echo -ne "${NC}"
}

# Install packages with minimal output
echo -e "Pulling packages included in default repositories via package manager:"
echo -e "Updating package manager..."
{{ $sudo }}apt-get update > /dev/null 2>&1 & spinner $!
echo -e "Installing packages..."
# Run the installation in the background and show the spinner
{{ $sudo }}apt-get install -y {{ $packages | join " " }} > /dev/null 2>&1 & spinner $!

{{ if lookPath "snap" }}
{{   range $snaps }}
echo -e "Checking and installing snap package: {{ . }}..."
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
echo -e "Checking and installing classic snap package: {{ . }}..."
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

echo -e "${GREEN}Packages installed successfully.${NC}"

{{ end -}}
