{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}

{{ $packages := list
     "pv" -}}
{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

# Define color codes
GREEN='\033[0;32m'
NC='\033[0m' # No Color

# Install packages with minimal output
echo -e "${GREEN}Installing prerequisate packages from default repos...${NC}"
{{ $sudo }}apt-get update > /dev/null
{{ $sudo }}apt-get install -y {{ $packages | join " " }} > /dev/null

# Display progress
echo -e "${GREEN}Prerequisate packages installed successfully.${NC}"

{{ if lookPath "snap" }}
{{   range $snaps }}
echo -e "${GREEN}Checking and installing snap package: {{ . }}...${NC}"
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
echo -e "${GREEN}Checking and installing classic snap package: {{ . }}...${NC}"
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}
